}
nav ul, footer ul {
    font-family: "Quicksand" !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #000000;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em !important;
    line-height: 1.4em !important;
    transition: font-size 260ms ease;
}

h1 {
  color: #000000;
  font-family: "Quicksand" !important;
  font-weight: 400 !important;
  font-size: 22px;
  line-height: 1.15;
  letter-spacing: 0.15em;
  margin: 15px auto;
  text-align: center;
}

h2 {
  font-size: x-large;
  font-family: "Quicksand" !important;
  font-weight: 500;
  line-height: 1.75;
  color: #000000;
  text-align: center;
}
  
