body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

nav ul, footer ul {
  position: fixed;
  color: #000000;
  font-family: "Quicksand" !important;
  font-weight: 700 !important;
  letter-spacing: 0.03em;
  list-style: none;
  line-height: 1 !important;
  transition: font-size 260ms ease;
  text-transform: uppercase;
  display: block;
}

.centered {
  vertical-align: middle;
  text-align: center;
}

.section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  text-align: left;
  font-size: 24px !important;
  color: inherit;
}

footer ul {
  text-align: center;
}

.dp {
  max-width: 100%;
}

.pictures {
  vertical-align: top;
  margin: 0 !important;
  border: 0 !important;
  width: 33.33%;
  float: left;
}

h1 {
  color: #000000;
  font-size: 30px;
  font-family: "Quicksand" !important;
  font-weight: 400 !important;
  line-height: 1.15;
  letter-spacing: 0.15em;
  margin: 30px auto;
  text-align: center;
}

h2, h3, h4, h5 {
  color: #000000;
  font-size: 20px;
  font-family: "Quicksand" !important;
  font-weight: 500;
  line-height: 1.75;
  width: 95%;
  margin: 10px auto;
  margin-bottom: 20px;
  text-align: center;
}
  
